---
- name: Create port forwarding systemd units
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /etc/systemd/system/{{ item }}
    mode: "0644"
  loop:
    - upnpc@.service
    - upnpc@.timer
  register: systemd_unit_files

- name: Start Minecraft Server
  when: minecraft_server_enabled is true
  block:
    - name: Create Minecraft server directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ users.worker }}"
        group: "{{ users.worker }}"
        mode: "0750"
        recurse: false
      with_items:
        - "{{ minecraft_server_data_directory }}"

    - name: Get worker UID
      ansible.builtin.command:
        cmd: "id -u {{ users.worker }}"
      register: worker_uid
      changed_when: false

    - name: Get worker GID
      ansible.builtin.command:
        cmd: "id -g {{ users.worker }}"
      register: worker_gid
      changed_when: false

    - name: Start port forwarding
      ansible.builtin.systemd:
        name: upnpc@25565.timer
        enabled: true
        state: started
        daemon_reload: "{{ systemd_unit_files.changed }}"

    - name: Start Minecraft server Docker container
      community.docker.docker_container:
        name: "{{ minecraft_server_container_name }}"
        image: itzg/minecraft-server:{{ minecraft_server_tag }}
        pull: always
        restart_policy: no
        image_name_mismatch: recreate
        stop_timeout: "{{ (minecraft_server_env.STOP_SERVER_ANNOUNCE_DELAY | default(120) | int) + 60 }}"
        interactive: true
        tty: true
        memory: "{{ minecraft_server_container_memory }}"
        volumes:
          - "{{ minecraft_server_data_directory }}:/data:rw"
        ports:
          - "{{ minecraft_server_port }}:25565"
        env: "{{ minecraft_server_env | combine(default_env) }}"
        # Add CAP_NET_RAW if auto-pause is enabled
        capabilities: >-
          {{ ((minecraft_server_env.ENABLE_AUTOPAUSE | default('false') | lower)
             in ['true', 'yes', '1']) | ternary(['CAP_NET_RAW'], []) }}
        networks_cli_compatible: false
        networks:
          - name: subway
      vars:
        default_env:
          EULA: 'TRUE'
          UID: "{{ worker_uid.stdout }}"
          GID: "{{ worker_gid.stdout }}"

- name: Stop Minecraft Server
  when: minecraft_server_enabled is false
  block:
    - name: Stop Minecraft Server
      community.docker.docker_container:
        name: "{{ minecraft_server_container_name }}"
        state: absent

    - name: Stop port forwarding
      ansible.builtin.service:
        name: upnpc@25565.timer
        enabled: false
        state: stopped
