[Unit]
Description=Run kopia maintenance
Documentation=man:kopia(1)

# Restart automatically at most once
StartLimitIntervalSec=infinity
StartLimitBurst=2

[Service]
Type=oneshot
ExecStart=/usr/bin/kopia maintenance run --full
User=kopia
TimeoutStartSec=15m
TimeoutStopSec=2m
Restart=on-failure
