[Unit]
Description=Forward a TCP port using upnpc(1)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/upnpc -r %I tcp
ExecStop=/usr/bin/upnpc -d %I tcp
