[Unit]
Description=Forward a TCP port using upnpc(1)

[Timer]
# Run on timer start
OnActiveSec=0
# Run 6 hours after last time the service was run
OnUnitInactiveSec=6h

[Install]
WantedBy=multi-user.target
