name: egrass-bot

networks:
  subway:
    external: true
    name: subway

services:
  bot:
    image: ghcr.io/kdkasad/egrass-bot:{{ egrass_bot_tag }}
    pull_policy: always
    restart: unless-stopped
    volumes:
      - "{{ egrass_bot_data_dir }}:/var/lib/bot"
    environment:
      TZ: America/Indianapolis
      DISABLE_NEETCODE_ANNOUNCEMENTS: "{{ egrass_bot_disable_announcements | ternary('true', 'false') }}"
    env_file: secrets.env
    networks:
      - subway
