---
photos_archive_enabled: false

photos_archive_mounts:
  - src: overlay
    dst: /mnt/photosarchive/rw
    type: overlay
    options:
      - rw
      - lowerdir=/nas/PhotosFromDesktop
      - upperdir=/mnt/photosarchive/wo
      - workdir=/mnt/photosarchive/work
