---
- name: Create mount points
  ansible.builtin.file:
    path: /mnt/photosarchive/{{ item }}
    state: directory
    owner: root
    group: photosarchive
    mode: 0770
  loop:
    - wo
    - rw
    - work

- name: Mount/unmount filesystem
  ansible.posix.mount:
    state: "{{ photos_archive_enabled | ternary('mounted', 'absent') }}"
    src: "{{ item.src }}"
    path: "{{ item.dst }}"
    fstype: "{{ item.type }}"
    opts: "{{ item.options | join(',') }}"
  loop: "{{ photos_archive_mounts }}"
